.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 17px 20px;
}

.cards__card {
  width: 100%;
  max-width: 300px;
  height: 361px;
  background-color: #ffffff;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-template-rows: auto auto;
  position: relative;
}

.cards__card-image {
  width: 100%;
  height: 282px;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
}

.cards__card-content {
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
  background-color: transparent;
}

.cards__card-title {
  color: #000000;
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 227px;
  padding: 0 0 0 15px;
  background-color: transparent;
}

.cards__like-button {
  width: 21px;
  height: 19px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
  background-image: url(../images/like-button.svg);
  -webkit-tap-highlight-color: transparent;
}

.cards__like-button:focus {
  outline: none;
}

.cards__like-button_active {
  background-image: url(../images/like-button-filled.svg);
}

.cards__delete-button {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background-image: url(../images/trash.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cards__delete-button:hover {
  background-image: url(../images/trash-hover.svg);
}

@media screen and (max-width: 800px) {
  .cards {
    grid-template-columns: auto auto;
    padding: 0 10% 0;
  }
}

@media screen and (max-width: 600px) {
  .cards {
    grid-template-columns: auto;
    padding: 0 5% 0;
    justify-content: center;
  }
}

@media (hover: hover) {
  .cards__like-button:hover {
    background-image: url(../images/like-button-hover.svg);
  }

  .cards__like-button_active:hover {
    background-image: url(../images/like-button-filled.svg);
    opacity: 0.7;
  }
}