.footer {
  padding: 10% 0 7%;
  color: #545454;
}

.footer__content {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 20% 5% 10%;
  }

  .footer__content {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    max-width: 350px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 282px;
    padding-bottom: 36px;
  }

  .footer__copyright {
    font-size: 14px;
  }
}