.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  font-family: "Inter", "Times New Roman", sans-serif;
}

.popup_opened {
  display: flex;
  z-index: 2;
}

.popup__container {
  background-color: white;
  max-width: 30%;
  width: 100%;
  padding: 3%;
  position: relative;
  border-radius: 10px;
}

.popup__container-type-image {
  position: relative;
  max-width: 75%;
  max-height: 75%;
  background-color: transparent;
}

.popup__image {
  max-width: 75vw;
  max-height: 75vh;
}

.popup__caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #ffffff;
  margin-top: 10px;
  background-color: transparent;
}

.popup__close {
  background-color: transparent;
  border-style: none;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/closeicon.svg);
}

.popup__close:hover {
  opacity: 0.4;
  cursor: pointer;
}

.popup__title {
  margin-bottom: 5%;
  background-color: transparent;
}

.popup__form {
  background-color: transparent;
}

.popup__input {
  max-width: 100%;
  width: 100%;
  margin-top: 7%;
  height: 28px;
  border: none;
  border-bottom: 2px solid #bcbcbc;
  padding-bottom: 10px;
  background-color: transparent;
}

.popup__input:focus {
  outline: none;
}

.popup__input-error {
  background-color: transparent;
}

.popup__button {
  max-width: 100%;
  width: 100%;
  margin-top: 10%;
  height: 50px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
}

.popup__button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.popup__button_disabled {
  color: gray;
  background-color: white;
  border: 1px solid gray;
}

.popup__button_disabled:hover {
  background-color: white;
  cursor: default;
}

.popup__input_type_error {
  border-bottom: 2px solid red;
}

.popup__error_visible {
  color: red;
}

@media screen and (max-width: 800px) {
  .popup__container {
    max-width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .popup__container {
    max-width: 70%;
    padding: 10% 5%;
  }

  .popup__close {
    top: -60px;
    right: -10px;
    background-image: url(../images/closeiconmobile.svg);
  }

  .popup__title {
    margin-bottom: 20%;
    font-size: 18px;
  }

  .popup__input {
    font-size: 14px;
  }

  .popup__button {
    margin-top: 20%;
    font-size: 14px;
  }
}