.profile {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 3%;
  margin: 40px 0 50px 0;
}

.profile__image {
  border-radius: 100%;
  width: 120px;
}

.profile__info {
  width: 80%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  align-self: flex-end;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background-color: #000000;
  width: 22px;
  height: 22px;
  border: solid 1px #ffffff;
  display: flex;
  justify-content: center;
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  align-self: center;
  margin-bottom: 20px;
}

.profile__edit-icon {
  align-self: center;
}

.profile__edit-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.profile__about {
  font-size: 18px;
  line-height: 100%;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  margin-top: 3%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__add-button {
  background-color: #000000;
  border: solid 2px #ffffff;
  width: 146px;
  height: 45px;
  justify-self: flex-end;
  align-self: center;
  display: flex;
  justify-content: center;
}

.profile__add-icon {
  align-self: center;
}

.profile__add-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .profile__name {
    font-size: 32px;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    grid-template-columns: 1fr;
    row-gap: 33px;
    padding: 0 5% 0;
  }

  .profile__image {
    justify-self: center;
  }

  .profile__info {
    justify-self: center;
    row-gap: 14px;
    column-gap: 10px;
  }

  .profile__name {
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    justify-self: flex-end;
  }

  .profile__edit-button {
    align-self: flex-start;
  }

  .profile__about {
    font-size: 14px;
    grid-column: 1 / 3;
    justify-self: center;
  }

  .profile__add-button {
    width: 100%;
  }
}